# react
*/node_modules/
*/build/
*/dist/
*/.pnp.js
*/.pnp.js_
*/.pnp.js.bak
*/.pnp.js.bak_
*/package-lock.json

# .NET app in MedicalCenterAPI
MedicalCenterAPI/*/bin/
MedicalCenterAPI/*/obj/
MedicalCenterAPI/*/*.user
MedicalCenterAPI/*/*.suo
MedicalCenterAPI/*/.vs/
MedicalCenterAPI/*/.idea/
MedicalCenterAPI/*/.vscode/
MedicalCenterAPI/copilot-chat/
MedicalCenterAPI/.vs/
MedicalCenterAPI/Tests/*/bin/
MedicalCenterAPI/Tests/*/obj/
MedicalCenterAPI/Tests/*/*.suo
MedicalCenterAPI/Tests/*/*.user
MedicalCenterAPI/MedicalCenterAPI/Properties/serviceDependencies.*
MedicalCenterAPI/MedicalCenterAPI/Properties/serviceDependencies.json
MedicalCenterAPI/MedicalCenterAPI/Properties/PublishProfiles/
MedicalCenterAPI/MedicalCenterAPI/Properties/ServiceDependencies/
MedicalCenterAPI/MedicalCenterAPI/Properties/serviceDependencies/

# General
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db