h2 {
    margin-bottom: 10px;
    color: #0F3759;
}

.cards-container {
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cada Card ocupa al menos 150px, pero se ajusta al ancho disponible */
    gap: 20px; /* Espaciado entre las Cards */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    padding: 20px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}